/* chatbot.css */

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    
  }
  
  .chat-button {
    background-color: #007bff;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-button:hover {
    background-color: #0056b3;
  }
  
  .chat-modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px; /* Ajusta el ancho del modal según tus necesidades */
    height: 500px; /* Ajusta la altura del modal según tus necesidades */
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
    border: 1px solid #ccc; /* Borde del modal */
  }
  
  
  .header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .close-icon {
    cursor: pointer;
  }
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .message {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .message.user {
    background-color: #e5f4ff;
  }
  
  .message.bot {
    background-color: #fff;
  }
  
  .input-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: stretch; /* Estira los elementos a lo largo del eje transversal */
    padding: 10px;
  }
  
  
  
  
  .chat-input {
    padding: 8px;
    margin-bottom: 10px; /* Agrega un margen inferior para separar el input del botón */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .send-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }

