.footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
  }
  
  .ContainerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-info {
    flex: 300px;
  }
  
  .footer-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .redes-sociales{
    font-size: 30px;
    color: #fff;
  }
  
  .comentarios {
    flex: 300px;
  }
  
  .comentarios h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .comentarios textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 17px;
    padding: 10px;
    font-size: 16px;
  }
  
  .comentarios button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .comentarios button:hover {
    background-color: #0056b3;
  }

  .link{
    margin: 22px;
    color: #5b9eff;
  }
  
  .fab{
    transition-property: transform;
    transition-duration: 250ms;
  }
  .fab:hover{
    transform: scale(1.40);
  }
  
  

