.footer {
  background: #222020;
}

.col-4-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 0px;
  transition: none;
  height: 209px;
}

.col-4-footer:hover {
  transform: none;
  box-shadow: none;
}

.iconFooter {
  width: 30px;
  height: 30px;
  margin: 15px;
  background: #222020;
  color: #46CEEB;
}

.listFooter {
  color: #2e887c;
  font-size: 15px;
}

.listFooterFather {
  margin: 13px;
  padding: 2px;
}

.pFooter {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 38px;
}


@media only screen and (min-width: 375px) {
  .ulFooter {
    padding: 0px;
    margin-right: 50px;
  }

  .listFooterFather {
    margin: 3px;
    padding: 2px;
  }

  .ul2Footer {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 576px) {
  .col-4-footer {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-4-footer {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .listFooterFather {
    font-size: 10px;
    margin: 10px;
    width: 158px;
  }
}

@media only screen and (min-width: 992px) {
  .col-4-footer {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .listFooterFather {
    font-size: 10px;
    margin: 10px;
    width: 158px;
  }
}