.home{
    width: 100%;
    color:#fff;
    position: relative;
   
}

p{
    font-size: 20px;
}

.h2Home{
    color: #fff;
}

.overlay{
    background-color: rgb(0, 0, 0,0.03);
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

#video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.home .content{
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.form {
    display: flex;
    background-color: #ffffffcc;
    color: #000;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.form input[type=text] {
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}

.form input[type=text]:focus {
    outline: none;
}

@media screen and (max-width: 940px) {
    .form input[type=text] {
        max-width: 275px;
    }

}

.carrusel{
    justify-content: space-around;
    height: 500px;
    background: #00ffff1a;
    display: flex;
    align-items: center;
}

.tamañoCarrusel{
    width: 300px;
    height: 300px;
    background: aquamarine;
}
.buttonSearch{
       
        border: none;
        color: #fff;
        padding: .7rem 1.5rem;
        border-radius: 1rem;
        cursor: pointer;
        background-color: #48cae4;
        font-family: 'Poppins', sans-serif;
}

/* CSS DE TRAVEL.JS "NOTA: todos los estilos de travel van a empezar con TR como inicial de las clases por ejemplo (TRbox)" */

.TRcard{
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}
.col-4:hover{
    transform: translateX(0.02rem) translateY(-0.5rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ConSpace{
    background-color: #8338ec14;
}
.card{
    border: none;
}

.card-img-top{
    border-radius: 15px;
}

.TRcontainer {
    text-align: center;
    animation: zoom 5s ease infinite;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.TRimagen {
    animation: zoom 5s ease infinite;
}

@keyframes zoom {
    0% {
        transform: scale(0.85);
    }
    50% {
        transform: scale(1); 
    }
    100% {
        transform: scale(0.85); 
    }
}

@media screen and (max-width: 768px) {
    .TRrow {
      max-width: 100%;
      flex-direction: column;
      display: flex;
      align-content: center;
    }
    .col-4 {
        width: 100%;
        max-width: 100%;
      }
  }

/*FIN DE EL APARTADO DE TRAVEL.JS*/





/*INICIO DE EL APARTADO DE CONTACT.JS  TODOS LOS ESTILOS COMENZARAN EN CON */
.CONrow{
    padding: 20px;
}

.CONbox{
    height: 218px;
    background: #7976c9a3;
    border-radius: 33px;
    box-shadow: -12px 12px 1px rgba(70, 206, 235, 1.0);
}

.CONimg{
    width: 150px;
    border-radius: 45px;
}

.CONname{
    color: #fff;
}

.CONicon{
    fill: #fff;
}

.col h4{
    color: #fff;
}
.col-4{
    padding: 12px;
}

.ConSpace{
    width: 50px;
    margin: 4px;
    background: rgb(141 138 198);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.ConSpace:hover{
    transform: translateX(0.02rem) translateY(-0.5rem);
   box-shadow:  rgb(157 34 231) 4px 6px 1px;
}

.CONcontacto{
    font-size: 33px;
    padding: 15px;
    box-shadow: rgb(70, 206, 235) 9px 8px 0px;
    border-radius: 15px;
    margin: 45px;
    color: white;
    background: #a9a7dc;
}

.form-control{
    border-radius: 20px;
}

.form-container{
    padding: 15px;
    box-shadow: rgb(70, 206, 235) 2px 4px 29px;
    border-radius: 46px;
}

.btn{
   background: rgb(70, 206, 235);
   color: #fff;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    .ConSpace{
        width: 43px;
        padding: 10px;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media (min-width: 576px) and (max-width: 768px) {
    .CONresp{
        display: flex;
        flex-wrap: wrap;
        width: 128px;
        margin: 0px;
        padding: 0px;
    }
    .h4Resp{
        font-size: 0px;
    }
    .form-container {
        width: 222px;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media (min-width: 768px) and (max-width: 1024px) {
    .CONresp{
        display: flex;
        flex-wrap: wrap;
        width: 128px;
        margin: 0px !important;
        padding: 0px;
    }
    .h4Resp{
        font-size: 0px;
    }
    .CONimg {
        width: 127px;
        border-radius: 45px;
        margin: 50px;
    }
  }
/*FIN DE EL APARTADO DE CONTACT.JS TODOS LOS ESTILOS COMENZARAN EN CON*/



/* INICIO ESTILOS SINGLE HOTEL */
.h1SingleHotel{
    border-bottom: 5px solid #4cc7d4;
    border-radius: 10px;
    width: 450px;
}
.pSingleHotel{
    border-bottom: 3px solid #4cc7d4;
    border-radius: 7px;
    width: 340px;
    margin: 10px;
}
.btnSingleHotel{
    border: none;
    border-radius: 20px;
    padding: 10px;
}


/* FIN SINGLE HOTEL */