.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2;
    position: relativa;
    color: #fff;
}

.navbar-bg {
    background-color: #f5f5f5;
}

.nav-menu {
    display: flex;
    margin: 0px;
}

 ul {
    list-style-type: none;
   
  }
  
  ul li {
    /* width: 100%; */
    margin: 1rem 0;
    margin-left: 2rem;
  }
  
  ul li a {
    text-decoration: none;
    color: #0077b6;
    font-size: 1.2rem;
    transition: 0.1s ease-in-out;
  }
  
  ul li a:hover {
    color: #023e8a;
  }
  
  ul li:first-of-type a {
    color: #023e8a;
    font-weight: 900;
  } 
.hamburger {
    display: none;
    /* padding: 1rem; */
  
}

.mobile-menu {
    display: none;
}

.svg-icon {
    margin-right: 35px;
    height: 46px;
    width: 53px;
    border-radius: 10px;
    background: #ffffff;
    color: #0077b685;
    border: 1px solid #48cae4;
    box-shadow: 3px 5px 1px rgba(70, 206, 235, 1.0);
}

.icon{
    width: 25px;
    height: 25px;
}

.navbar button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: #48cae4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
  }
  
  .navbar button:hover {
    background-color: #023e8a;
  }
.username-span {
    color: #0077b6;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 35px;
    padding: 7px;
    border: 1px solid #48cae4;
    box-shadow: 3px 5px 1px rgba(70, 206, 235, 1.0);
    border-radius: 12px;
    width: 121px;
    text-align: center;
}

.dropdown{
    display: flex;
    color: #023e8a;
    font-weight: 900;
}

.nav-icons{
    padding: 23px;
}

.dropdown-menu {
    padding: 0;
    border-radius: 11px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
    margin-left: 115px;
}

.dropdown-menu[data-bs-popper]{
    top: 112%;
}

@media screen and (max-width: 740px) {

    .mobile-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: -100vh;
        left: 0;
        position: absolute;
        justify-content: space-between;
        background-color: #f5f5f5;
        transition: 0.3s;
        color: #000;
    }

    .dark {
        color: #000;
    }

    .active {
        top: 80px;
    }

    .mobile-menu li {
        padding: 1.2rem 1rem;
        margin: 0 1rem;
        border-bottom: 1px solid #ccc;
    }

    .mobile-nav {
        margin: 1rem 0;
    }

    .mobile-menu-bottom {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    } 

    .social-icons {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }

    .social-icons .icon:hover {
        transform: scale(1.5);
        transition: 0.3s;
    }

    .mobile-menu button {
        margin: 1rem;
        width: 90%;
    } 


    .nav-menu {
        display: none;
    }

    .nav-icons {
        display: none;
    }
    .hamburger {
        display: block;
        color:black;
    }

}