.recommend {
    padding: 2rem 0;
  }
  
  .tituloReco {
    text-align: center;
    font-size: 40px;
  }
  .tituloDest{
    font-size: 20px;
  }

  .packages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

  }
  
  .packages ul {
    display: flex;
    list-style-type: none;
    width: max-content;
  }
  
  .packages ul li {
    
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid black;
    white-space: nowrap;
   
  }
  
  .packages ul li.active {
  
    border-bottom: 0.5rem solid #8338ec;
  }
  
  .destinations {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Tres columnas */
    gap: 3rem; /* Espacio entre las tarjetas */
    padding: 0 3rem; /* Padding lateral */
  }
  
  .destinations .destination {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    background-color: aliceblue;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    
  }
  
  .destinations .destination:hover {
    transform: translateX(0.4rem) translateY(-1rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .destinations .destination img {
    width: 100%; /* Tamaño completo */
  }
  
  .destinations .destination .info {
    display: flex;
    align-items: center;
  }
  
  .destinations .destination .info .services {
    display: flex;
    gap: 0.3rem;
  }
  
  .destinations .destination .info .services img {
    border-radius: 1rem;
    background-color: #4d2ddb84;
    width: 2rem;
    padding: 0.3rem 0.4rem;
  }
  
  .destinations .destination .info,
  .destinations .destination .distance {
    display: flex;
    justify-content: space-between;
  }
  
     @media screen and (min-width: 280px) and (max-width: 768px) {
    .packages ul li {
      padding: 0 0.5rem;
      font-size: 2vh;
      padding-bottom: 1rem;
    }
    .packages ul li.active {
      border-bottom-width: 0.3rem;
    }
    .destinations {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }