.containerSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 74px;
}

.search {
    max-width: 100%;
    padding: 3rem 0;
}

.search .container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.search-col-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 100%;
    justify-content: center;
}

.search .box {
    margin: 0px 10px 0px 10px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 26px;
    width: 50%;
    height: 190px;
    padding: 5px;
    transition-property: transform;
    transition-duration: 250ms;
}
.search .box:hover{
    transform: scale(1.03);
}

.right {
    flex-direction: column;
    justify-content: center;
    width: 550px;
}

.promo {
    width: 100%;
    margin: .4rem 0;
    margin-bottom: 4rem;
    border: 1px solid #333;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 250ms;
}
.promo:hover{
    transform: scale(1.03);
}

.promo h4 {
    font-size: 1.6rem;
    color: var(--primary-dark);
}

.promo .timer {
    padding: 1rem 0;
    font-size: 1.2rem;
}

.promo .offers {
    background: #333;
    color: #f5f5f5;
    padding: .4rem 0;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 250ms;
}
.promo .offers:hover{
    transform: scale(1.05);
}

.search form {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    transition-property: transform;
    transition-duration: 250ms;
}
.search form:hover{
    transform: scale(1.05);
}

.input-wrap {
    margin: .4rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 1.45rem;
}

.search input, select {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border-radius: 10px;
    padding: 1px;
}

.search .date {
    display: flex;
    justify-content: space-between;
}

.search button {
    margin: .4rem;
}

.left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 55%;
    border: 1px solid gray;
    border-radius: 22px;
    padding: 35px;
    transition-property: transform;
    transition-duration: 250ms;
}
.left:hover{
    transform: scale(1.03);
}
#btnAnimation{
    transition-property: transform;
    transition-duration: 250ms;
}
#btnAnimation:hover{
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .box {
      flex: 1 1 100%;
    }
  }


@media screen and (max-width: 940px) {
    .search .containerSearch{
        grid-template-columns: 1fr;
    }

    .search-col-2 {
        grid-template-columns: 1fr;
    }

    .search .right {
        max-width: 100%;
    }

    .search form {
        width: 100%;
    }

    .search .date {
        flex-direction: column;
    }
}